<div class="flex justify-center mt-6">
    <div class="flex justify-around">
        <div class="  w-2/5 h-72 p-9 oneitem rounded-3xl border hover:shadow-[rgba(0,_0,_0,_0.4)_0px_30px_90px] transition duration-300 ease-in">
            <div class="flex items-center justify-between">
                <div class="flex items-center">
                    <div class="icon w-12 rounded-full p-2 ">
                        <img src="correcto.png" alt="" class="w-9">
                    </div>
                    <h2 class=" text-white font-bold ml-4">
                        Guardian Shield
                    </h2>
                </div>
                <div class="border w-32 rounded-full text-center">
                    <h4 class="text-white">Included in Pro</h4>
                </div>
            </div>
            <div class=" text-white mt-8">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At natus fugit ad praesentium vitae? Ab, molestias. Cupiditate officia, velit minus porro vero ut ullam vel eos adipisci provident facilis eaque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea et eaque excepturi consequatur dolorum, similique sunt, corrupti, architecto ducimus nulla laudantium blanditiis. Aut fuga alias rerum! Rerum nostrum minima sit.</p>
                
            </div>
        </div>
        <div class="  w-2/5 h-72 p-9 oneitem rounded-3xl border hover:shadow-[rgba(0,_0,_0,_0.4)_0px_30px_90px] transition duration-300 ease-in">
            <div class="flex items-center justify-between">
                <div class="flex items-center">
                    <div class="icon w-12 rounded-full p-2">
                        <img src="correcto.png" alt="" class="w-9">
                    </div>
                    <h2 class=" text-white font-bold ml-4">
                        Guardian Shield
                    </h2>
                </div>
                <div class="border w-32 rounded-full text-center">
                    <h4 class="text-white">Included in Pro</h4>
                </div>
            </div>
            <div class=" text-white mt-8">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At natus fugit ad praesentium vitae? Ab, molestias. Cupiditate officia, velit minus porro vero ut ullam vel eos adipisci provident facilis eaque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea et eaque excepturi consequatur dolorum, similique sunt, corrupti, architecto ducimus nulla laudantium blanditiis. Aut fuga alias rerum! Rerum nostrum minima sit.</p>
                
            </div>
        </div>
    </div>
</div>

<style>
    .oneitem{
        background: rgb(10,11,13);
background: linear-gradient(0deg, rgba(10,11,13,1) 51%, rgba(24,27,32,1) 100%);
    }
    .icon{
        background-color:#6a6d74 ;
    }
</style>