<div class=" mt-52" id="divsupport">
    <div class="flex justify-center">
        <div class="text-white ">
            <div class="font-bold text-7xl">
                <h1>Platform support</h1>
            </div>
            <div class="text-center mt-12 text-lg">
                <p>some of the platforms that are compatible with the extension</p>
            </div>
    
        </div>
        
    </div>
    <div class="flex justify-center mt-8">
        <div class=" w-1/2 bg-zinc-900/50 rounded-2xl">
            <div class="p-5 text-white font-normal text-2xl border-b">
                <h1>Social Media</h1>    
            </div>
            <div class="p-5 text-white">
                <h1>our Suggestion</h1>
            </div>
            <div class="p-5 flex justify-between hover:bg-slate-800/20 transition duration-200 ease-in cursor-pointer">
                <div class="flex items-center text-white ">
                    <img src="facebook.webp" alt="" class="w-8">
                    <h2 class="ml-3">Facebook</h2>
                </div>
                <div class="flex text-white">
                    <div class="border w-14 p-1 rounded-xl mr-2">   
                        <h2>Media</h2>
                    </div>
                    <div class="border w-28 p-1 rounded-xl">
                        <h2>entertainment</h2>
                    </div>
                </div>
            </div>
            <div class="p-5 flex justify-between hover:bg-slate-800/20 transition duration-200 ease-in cursor-pointer ">
                <div class="flex items-center text-white ">
                    <img src="youtube.png" alt="" class="w-8">
                    <h2 class="ml-3">Youtube</h2>
                </div>
                <div class="flex text-white">
                    <div class="border w-14 p-1 rounded-xl mr-2">   
                        <h2>Media</h2>
                    </div>
                    <div class="border w-28 p-1 rounded-xl">
                        <h2>entertainment</h2>
                    </div>
                </div>
            </div>
            <div class="p-5 flex justify-between hover:bg-slate-800/20 transition duration-200 ease-in cursor-pointer">
                <div class="flex items-center text-white ">
                    <img src="twitch.png" alt="" class="w-8">
                    <h2 class="ml-3">Twitch</h2>
                </div>
                <div class="flex text-white">
                    <div class="border w-14 p-1 rounded-xl mr-2">   
                        <h2>Media</h2>
                    </div>
                    <div class="border w-28 p-1 rounded-xl">
                        <h2>entertainment</h2>
                    </div>
                </div>
            </div>
            <div class="p-5 flex justify-between hover:bg-slate-800/20 transition duration-200 ease-in cursor-pointer">
                <div class="flex items-center text-white ">
                    <img src="tiktok.webp" alt="" class="w-8">
                    <h2 class="ml-3">Tiktok</h2>
                </div>
                <div class="flex text-white">
                    <div class="border w-14 p-1 rounded-xl mr-2">   
                        <h2>Dance</h2>
                    </div>
                    <div class="border w-28 p-1 rounded-xl text-center">
                        <h2>Creative</h2>
                    </div>
                </div>
            </div>
            <div class="p-5 flex justify-between hover:bg-slate-800/20 transition duration-200 ease-in cursor-pointer">
                <div class="flex items-center text-white ">
                    <img src="reddit.webp" alt="" class="w-8">
                    <h2 class="ml-3">Reddit</h2>
                </div>
                <div class="flex text-white">
                    <div class="border w-14 p-1 rounded-xl mr-2">   
                        <h2>Media</h2>
                    </div>
                    <div class="border w-28 p-1 rounded-xl">
                        <h2>entertainment</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="animate-bounce flex justify-center mt-36">
            <div>
                <img src="arrow.png" alt="" class="w-20 border p-5 rounded-full">
            </div>
        </div>
    </div>
</div>